<!--include header-->
<%-include('include/_header')%>

<!--/include header-->
<main id="site-main">
    <div class="container">
     <div class="box-nav d-flex-jutify-between">
   <div class="filter"> 
   <a href = "/"><i class="fas fa-angle-double-left"></i>All course</a>
   </div>
   </div>
   <div class="form-title text-center">
    <h2 class="text-dark">new course</h2>
    <span class="text-light">use the bellow form to add course</span>
   </div>
   <%-include('include/_form')%>
   
 </div> 
</main>


<!--include footer-->
<%-include('include/_footer')%>

<!--/include footer-->