<form action="/api/course" method="post" id="add_course">
    <div class="new_course">
        <div class="form-group">
            <label for="courseName" class="text-light">course</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="courseName" value=""placeholder="coursename">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">duration</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="duration" value=""placeholder="time">
        </div>
        <div class="form-group">
            <label for="name" class="text-light">fees</label>
            <input type="hidden" name="id" value="">
            <input type="text" name="fees" value=""placeholder="fees for course">
        </div>

        <div class="form-group">
            <button type="submit" class="btn text-dark update">submit</button>
        </div>
    </div>                   
</form>